body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Recoleta";
  src: url("./assets/recoleta-regulardemo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-weight: 600;
  font-family: "Recoleta", sans-serif;
  font-size: 18px;
  color: #000000;
  margin: 30px 0 10px 0;
}

p {
  font-weight: 540;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 3px 0;
}

span {
  font-style: italic;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  display: block;
  margin-top: 5px;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}

.navbar .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 40px;
  height: auto;
}

.navbar p {
  margin: 0;
  font-family: "Recoleta", sans-serif;
  font-size: 22px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links .active-link {
  color: #5dcdf1;
  font-weight: 600;
}
.mobile-navbar {
  display: none;
}

/* About Section */

.hero-section {
  padding: 0 100px;
  width: auto;
  height: 94vh;
  margin: 20px 30px 100px 30px;
  border-radius: 15px;
  justify-content: center;
  background-color: #f7f3f0;
  background-image: url("./assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about {
  padding: 40px 0;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.about h1 {
  position: relative;
  font-family: "Recoleta", sans-serif;
  font-size: 40px;
  color: rgb(248, 255, 253);
  margin: 0;
  z-index: 1;
  display: inline-block;
}

.about h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-10%);
  width: 240px;
  height: 30px;
  background-image: url("./assets/lines.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.about .name {
  margin-top: 0;
  font-size: 65px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  letter-spacing: 0.31px;
}

.about .bold-text {
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.27px;
}

.about p {
  color: #000000;
  padding: 20px 0 0 0;
  font-size: 15px;
}

.about .location {
  font-style: italic;
}

.about-img img {
  border: none;
  width: 420px;
  height: auto;
}

/* Resume Section */
.resume-section {
  padding: 40px 0 70px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.resume-section .resume-heading,
.project-heading {
  position: relative;
  font-size: 60px;
  font-weight: 900;
  font-family: "Recoleta", sans-serif;
  z-index: 1;
}

.resume-heading::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 35%;
  transform: translateX(50%);
  width: 150px;
  height: 60px;
  background-image: url("./assets/line2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.project-heading::after {
  content: "";
  position: absolute;
  left: 6%;
  bottom: -10px;
  transform: translateX(-10%);
  width: 240px;
  height: 30px;
  background-image: url("./assets/lines.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.resume-section h2 {
  margin: 0;
  font-family: "Recoleta", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #000000;
  text-transform: capitalize;
  padding: 10px 0;
}

.cards, .project-cards {
  column-count: 2;
}

.card {
  margin: 30px 0px;
  display: inline-block;
}

.cards img {
  width: 100px;
  height: auto;
}

.education,
.experience,
.skills {
  width: 400px;
  height: 500px;
  display: inline-block;
  border-radius: 20px;
  padding: 40px 80px;
  background-color: #f7f3f0;
}

.education .experience .skills {
  text-align: left;
  display: inline;
}

.edu-entry,
.exp-entry {
  margin-bottom: 20px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills ul li {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.skills h2 {
  margin-bottom: 15px;
}

.education:hover,
.skills:hover,
.experience:hover {
  transform: translateY(-10px);
  transition: transform 0.2s ease;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.experience:hover {
  background-color: #5dcdf1;
}

.education:hover {
  background-color: #fd976d;
}

.skills:hover {
  background-color: #ceaffd;
}

.project-container {
  margin: 0 auto;
  max-width: 450px;
}

.project-array {
  padding: 0 100px;
  width: auto;
  height: 100vhpx;
  margin: 20px 30px 100px 30px;
  border-radius: 15px;
  justify-content: center;
  background-color: #f7f3f0;
  background-image: url("./assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.project-card {
  width: 300px;
  height: 360px;
  display: inline-block;
  border-radius: 20px;
  padding: 40px 80px;
  background-color: #ffffff;
  text-align: left;
}
.project-heading-container img {
  width: 100px;
  height: auto;
}
.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-title {
  font-weight: 600;
  font-family: "Recoleta", sans-serif;
  font-size: 30px;
  color: #000000;
  margin: 30px 0 10px 0;
}

.project-desc {
  font-weight: 540;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 3px 0;
}

.project-tech span {
  display: inline;
  font-style: italic;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  margin-top: 5px;
}

.chloro:hover,
.poke:hover,
.emocare:hover,
.creativfi:hover {
  transform: translateY(-10px);
  transition: transform 0.2s ease;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.chloro:hover {
  background-color: #ceaffd;
}

.poke:hover {
  background-color: #5dcdf1;
}

.emocare:hover {
  background-color: #fdd46b;
}

.creativfi:hover {
  background-color: #fd976d;
}

.navigations {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.navigations a {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #2f2f2f;
  color: #ffffff;
  text-decoration: none;
}

.navigations a:hover {
  background: #000000;
}

/* Footer */

.footer {
  margin: 20px 30px;
  justify-content: space-between;
  display: flex;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons a {
  font-size: 20px;
  color: #afafaf;
  text-decoration: none;
  transition: color 0.3s ease;
}

@media (min-width: 551px) and (max-width: 1050px) {
  .about,
  .resume-section {
    padding: 80px 45px 100px 45px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }

  .about .name {
    font-size: 44px;
  }

  .about-img img {
    width: 280px;
    height: auto;
  }

  .about .bold-text {
    font-size: 15px;
  }

  .about p {
    font-size: 13px;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .education,
  .experience,
  .skills {
    width: 300px;
    height: 500px;
  }

  .project-array {
    margin: 0 auto;
    display: grid;
    padding: 80px 42px 160px 42px;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    justify-items: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .footer-section p {
    font-size: 11px;
  }
}

@media (min-width: 351px) and (max-width: 550px) {
  .hero-section {
    /* width: auto; */
    background-image: url("./assets/projects-bg.svg");
    padding: 0 5px;
    height: max-content;
  }

  .about {
    padding: 80px 45px 100px 45px;
    gap: 30px;
    flex-direction: column;
  }

  .about .name {
    font-size: 30px;
  }

  .about-img img {
    width: 200px;
  }

  .about .bold-text {
    font-size: 15px;
  }

  .about p {
    font-size: 13px;
  }

  .project-array {
    height: max-content;
    padding: 0 5px;
    margin: 20px 15px 166px 15px;
  }

  .project-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    justify-items: center;
  }

  .cards {
    flex-direction: column;
  }

  .education,
  .experience,
  .skills {
    width: 250px;
    height: fit-content;
    padding: 40px 60px;

  }

  .footer {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .footer-section p {
    font-size: 11px;
  }
}

@media (max-width: 350px) {
  .about,
  .resume-section {
    padding: 80px 32px 100px 32px;
    gap: 30px;
    flex-direction: column;
  }

  .about .name {
    font-size: 40px;
  }

  .about-img img {
    width: 260px;
  }

  .about .bold-text,
  .about p {
    font-size: 13px;
  }

  .project-array {
    margin: 0 auto;
    display: grid;
    padding: 80px 42px 160px 42px;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    justify-items: center;
  }

  .footer {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .footer-section p {
    font-size: 11px;
  }
}

@media (min-width: 351px) and (max-width: 1050px) {
  .about h1::after {

    left: 40%;
    bottom: -21px;
    transform: translateX(-10%);
    width: 125px;
   
}

  .navbar {
    display: none;
  }

  .menu-icon img {
    width: 30px;
    height: auto;
  }
  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    position: relative;
  }
  .mobile-navbar .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .mobile-navbar .logo img {
    width: 40px;
    height: 40px;
  }
  .mobile-navbar .logo p {
    margin: 0;
    font-family: "Recoleta", sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
  }
  .menu-icon {
    cursor: pointer;
  }
  .menu-icon img {
    width: 28px;
    height: 28px;
  }
  .mobile-nav-links {
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #f3ede9;
    width: 200px;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
  }
  .mobile-nav-links.hidden {
    display: none;
  }
  .mobile-nav-links li a {
    text-decoration: none;
    color: #101010;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
  }
  .mobile-nav-links li a:hover {
    color: #5dcdf1;
  }
  .active-link {
    color: #5dcdf1;
    font-weight: 600;
  }
  .cards {
    padding: 20px 45px 100px 30px;
    display: flex;
    flex-direction: column;
  }
  .project-cards {
    padding: 20px 45px 100px 20px;
    display: flex;
    flex-direction: column;
  }
  .project-card {
   width: 280px;
        height: 360px;
        display: inline-block;
        border-radius: 20px;
        padding: 40px 40px;
    background-color: #ffffff;
  }
  .project-heading-container img {
    width: 86px;
    height: auto;
}
}
