@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #0f0e0e;
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: right;
  /* justify-content: space-between;  */
  padding: 50px 20px;
}

/* .navbar p {
  margin: 0; 
  font-size: 24px; 
  font-weight: bold;
  color: white;
} */

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links .active-link {
  color: rgb(5, 173, 134);
  font-weight: 600;
}

.about {
  max-width: 1250px;
  padding: 150px 0;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 200px;
  border-bottom: 1px solid rgb(150, 150, 150);
}
.about h1 {
  font-size: 40px;
  color: rgb(248, 255, 253);
  margin: 0;
}
.about p {
  color: #afafaf;
  padding: 20px 0 0 0;
  font-size: 15px;
}

.about .bold-text {
  color: #afafaf;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.27px;
}
.about .name {
  margin-top: 0;
  font-size: 65px;
  color: rgb(5, 173, 134);
  margin-bottom: 10px;
  letter-spacing: 0.31px;
}
.about .location {
  font-style: italic;
}
.about-img img {
  border-radius: 20px;
  width: 400px;
  height: auto;
}

.resume-section {
  padding: 80px 0 10px 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.resume-section h2 {
  color: #cbcbcb;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 13.5px;
  letter-spacing: 3.1px;
  font-weight: 610;
  line-height: 13px;
  color: #cbcbcb;
  opacity: 0.85;
  text-transform: uppercase;
}
.resume-section h2::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #00b288;
  margin-top: 5px;
}
.education .experience .skills {
  text-align: left;
  display: inline;
}
.edu-entry,
.exp-entry {
  margin-bottom: 20px;
}

h3 {
  font-weight: bold;
  letter-spacing: 0.5px;

  font-size: 14px;
  /* font-weight: 600; */
  line-height: 21px;
  color: #cbcbcb;
  margin-bottom: 5px;
}

p {
  letter-spacing: 0.3px;
  font-weight: 540;
  font-size: 14px;
  color: #afafaf;
  margin: 3px 0;
}

span {
  font-style: italic;
  font-size: 14px;
  color: #afafaf;
  font-weight: 600;
  display: block;
  margin-top: 5px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills ul li {
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  line-height: 21px;
  color: #afafaf;
}

.skills h2 {
  margin-bottom: 15px;
}
.seperator {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #272727;
  margin-top: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #0f0e0e;
  left: 0;
  width: 100%; /* Ensures the footer spans the full width */
  padding: 15px 40px; /* Add padding for spacing */
  box-sizing: border-box;
}

.footer .text {
  flex-grow: 3; /* Makes the text section take up the remaining space */
  color: #afafaf;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons a {
  font-size: 20px;
  color: #afafaf;
  text-decoration: none;
  transition: color 0.3s ease;
}

.from-right {
  width: 200px;
  background-color: #b0e6da;
  height: 500px;
}

/* Container styling */

.project-array {
  padding: 100px 0 200px 0;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 40px 0px;
  justify-items: center; /* Center items horizontally */
}

.project-container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding: 20px;
  border: 1px solid rgb(121, 120, 120);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%; /* Ensures consistent size */
  max-width: 300px; /* Optional: Set a max width for project cards */
}

.project-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 12px rgb(5, 173, 134, 0.2);
}

/* Image container */
.project-img {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.project-img img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Match the container's border-radius */
}
/* Description styling */
.project-desc {
  margin-top: 15px;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

/* Button container */
.navigations {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.navigations a {
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  background: none;
  border: 1px solid rgb(5, 173, 134);
  color: #afafaf;
  text-decoration: none;
}

.navigations a:hover {
  color: #fff;
}

.seperator {
  margin: 0 auto;
  max-width: 1250px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #afafaf;
  margin-top: 50px;
}

.contact-section {
  margin: 0 auto;
  max-width: 1250px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 20px 0 50px 0;
}

.contact-section h2 {
  color: #afafaf;
  font-size: 19.5px;
  margin-bottom: 15px;
}

.connect ul {
  list-style: none;
  padding: 0;
}

.connect ul li {
  /* margin: 10px 0; */
}

.connect a,
.contact-info a {
  color: #a8a8a8;
  text-decoration: none;
  font-size: 14px;
}

.connect a:hover {
  color: #fff;
}
.contact-info a:hover {
  color: #fff;
}

.contact-info p {
  font-size: 14px;
  /* margin: 10px 0; */
}

.contact-section div {
  margin-bottom: 30px;
}
.get-in-touch {
  margin-top: 15px;
}
.get-in-touch button {
  padding: 13px 26px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #272727;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
}

/* App.css */
.app-container {
  min-height: 100vh;
  width: 100%;
}
.content-container {
  position: relative;
}

@media (min-width: 551px) and (max-width: 1050px) {
  .about,
  .resume-section {
    padding: 80px 45px 100px 45px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  .about .name {
    font-size: 44px;
  }

  .about-img img {
    width: 280px;
    height: auto;
  }
  .about .bold-text {
    font-size: 15px;
  }
  .about p {
    font-size: 13px;
  }
  .project-array {
    margin: 0 auto;
    display: grid;
    padding: 80px 42px 160px 42px;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    justify-items: center;
  }
  .contact-section {
    padding: 50px 42px 160px 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-section div {
    margin-bottom: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .footer-section p {
    font-size: 11px;
  }
}
@media (min-width: 351px) and (max-width: 550px) {
  .about,
  .resume-section {
    padding: 80px 45px 100px 45px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  .about .name {
    font-size: 44px;
  }

  .about-img img {
    width: 280px;
    height: auto;
  }
  .about .bold-text {
    font-size: 15px;
  }
  .about p {
    font-size: 13px;
  }
  .project-array {
    margin: 0 auto;
    display: grid;
    padding: 80px 42px 160px 42px;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    justify-items: center;
  }
  .contact-section {
    padding: 50px 42px 160px 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-section div {
    margin-bottom: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .footer-section p {
    font-size: 11px;
  }
}

@media (max-width: 350px) {
  .about,
  .resume-section {
    padding: 80px 32px 100px 32px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  .about .name {
    font-size: 40px;
  }
  .about-img img {
    width: 260px;
    height: auto;
  }
  .about .bold-text {
    font-size: 15px;
  }
  .about p {
    font-size: 13px;
  }
  .project-array {
    margin: 0 auto;
    display: grid;
    padding: 80px 42px 160px 42px;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    justify-items: center;
  }
  .contact-section {
    padding: 50px 42px 160px 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-section div {
    margin-bottom: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .footer-section p {
    font-size: 11px;
  }
}
